<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>

<body>

    
    <div class="input-container">
                <div class="header">
                <h1>
                    <span class="second-half">The</span> 
                    <span class="first-half">
                        Results
                    </span>
                    <span class="first-half">Are</span> 
                    <span class="second-half">
                        In
                    </span> 
                    
                    <span class="second-half">
                        !
                    </span>
                    <span class="first-half">
                        ! 
                    </span>
                    <span class="second-half">
                        ! 
                    </span>
                
                </h1>
            </div>
            <div  class="header">
                <h2>
                    Thank you all for sharing our hapiness with us and we wish you good luck.

                </h2>
            </div>
            
            <h1 id="">
                <button onclick="location.href='/names'" class="boy">Click Here For The Result</button>
            </h1>
                
            
        
    </div>

   
    

   
    

        
  

    <!-- The overlay -->
    <!-- <div id="myNav" class="overlay"> -->

        <!-- Button to close the overlay navigation -->
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->

        <!-- Overlay content -->
        <!-- <div class="overlay-content">
            <div class="container">

                <div class="row">

                    <div class="col">
                        <form action="/boywinner" method="POST">
                            <button class="btn btn-outline-primary" id="Boy" name="Boy" value="True">BOY</button>
                        </form>
                    </div>

                    <span style="color: white;"> Or </span>

                    <div class="col">
                        <form action="/girlwinner" method="POST">
                            <button class="btn btn-outline-danger" id="Girl" name="Girl" value="False">Girl</button>
                        </form>
                    </div>

                </div>

            </div>
        </div> -->

        
        
        


    <!-- </div> -->

    <!-- Use any element to open/show the overlay navigation menu -->
    <!-- <div class="raffleBtn">
        <button class="btn btn-outline-info" onclick="openNav()">Game</button>
    </div> -->
    <!-- <span onclick="openNav()">open</span> -->

    <!-- <footer >
        <p class="mt-5 mb-3 text-muted" style="margin: auto;">&copy; Ant</p>
    </footer> -->
</body>

</html>

