body {
	background-color:darkkhaki;
	margin: 0;
  }
  
  /* #bridge {
	display: block;
	margin: 0 auto;
	background-image: url("https://ramkam.s3.amazonaws.com/Flower.jpg");
	background-image: -webkit-image-set(
	  url("https://ramkam.s3.amazonaws.com/Flower.jpg")
		1x,
	  url("https://ramkam.s3.amazonaws.com/Flower.jpg")
		2x
	);
	background-size: cover;
	width: 100%;
	max-width: 750px;
	height: auto;
	cursor: crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png)
		53 53,
	  crosshair;
  }
  #bridgeContainer {
	text-align: center;
	font-family: Avenir, sans-serif;
  }
  #bridgeContainer figcaption {
	margin-top: 2rem;
  } */
  
  /* p{
	color: Pink; 
	font-family: "Courier";
	font-size: 20px;
	margin: 10px 0 0 10px;
	white-space: nowrap;
	overflow: hidden;
	width: 30em;
	animation: type 4s steps(60, end); 
  }
  
  @keyframes type{ 
	from { width: 0; } 
  }  */

  /* .lol{
	  margin-top: 4rem;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  
	  background-color: blue;
  } */

  #letters{
	font-family: 'Acme', sans-serif;
	text-align:center;
	font-size: 2rem;
	/* background-image: repeating-linear-gradient(#07d5fe, #ff02b4 ); */
	background-image: linear-gradient(to left, #f8d7d9,#539edb );    
	opacity: 1;
	margin-left:0;
	margin-right:0;
  }